/* Project-wide style */

* {
  font-family: 'Proxima Nova Alt';
  background-color: #05386B;
  color: #5CDB95;
}

nav {
  background-color: #05386B;
  display: flex;
  justify-content: flex-end;
  padding: 20px 0;
  color: #05386B;
  height: 50px;
  align-items: center;
}

nav ul {
  display: flex;
  list-style: none;
  width: 40%;
  justify-content: center;
  padding-top: 1.5em;
}

nav ul a {
  margin-left: 4.5em;
  text-decoration: none;
  font-size: 1.5em;
  color: #5CDB95;
}


nav ul li a:hover {
  color: #EDF5E1;
}