<!DOCTYPE html>
<html lang="en">
    <nav>
        <ul>
            <li><a href="{% url 'main:home'%}">Home</a></li>
            <li><a href="{% url 'main:tambah_kegiatan'%}">Tambah Kegiatan</a></li>
        </ul>
    </nav>
</html>