{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Home</title>
{% endblock meta %}

{% block content %}
	<div class="container mt-5">
		{% for x in kegiatan %}
		<table class="table table-borderless text-center">
			<tr>
				<th>Kegiatan</th>
			</tr>
			<tr>
				<td>{{x.nama_kegiatan}}</td>
			</tr> 
			<tr>
				<th>Deskripsi</th>
			</tr>
			<tr>
				<td>{{x.deskripsi}}</td>
			</tr>     
			<tr>
				<th>Peserta</th>
			</tr> 
			{% for y in person %}
				{% if y.kegiatan == x %} 
			<tr>
				<td>{{y.nama_orang}}</td>
			</tr>
			{% endif %}
				{% endfor %}
		</table>

		<div class="row">
			<div class="col text-center">
						<a class="btn btn-outline-success btn-block" href="{% url 'main:tambah_orang' x.id %}">Tambah Peserta</a>
			</div>
		</div>
	{% endfor %}
	</div>
{% endblock content %}
